<h2>{{ titulo }}</h2>
<form>
  <div class="container">
    <div class="row">
      <div class="col">
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          [(ngModel)]="this.nombre"
        />
        <label class="form-label" for="name">Nombre</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="text"
          id="surname"
          name="surname"
          class="form-control"
          [(ngModel)]="this.apellidos"
        />
        <label class="form-label" for="surname">Apellidos</label>
      </div>
    </div>
    <div class="row" *ngIf="this.tipo === 'usuario'">
      <div class="col">
        <input
          type="password"
          id="pass"
          name="pass"
          class="form-control"
          [(ngModel)]="this.pass"
        />
        <label class="form-label" for="pass">Contraseña</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="text"
          id="phone"
          name="phone"
          class="form-control"
          [(ngModel)]="this.telefono"
        />
        <label class="form-label" for="phone">Teléfono: </label>
      </div>
    </div>
  </div>
</form>
<button
  class="btn btn-primary"
  (click)="this.tipo === 'empleado' ? addEmpleado() : addUsuario()"
  *ngIf="this.tipo !== null"
>
  Crear nuevo {{ this.tipo }}
</button>
<button
  class="btn btn-primary"
  (click)="editEmpleado()"
  *ngIf="this.id !== null"
>
  Modificar empleado
</button>
<button class="btn" [routerLink]="['/listado']">Cancelar</button>
